.posts-container {
  margin: 0 auto;
  margin-top: var(--navbar-height);
  width: 100%;
  padding: 10px 30px;
}

.entry-preview h1 {
  font-size: 2.4rem;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .entry-preview:last-child { 
    max-width: 32.5%; /*Para que el ultimo post no ocupe el 100% de ancho de posts-container (Que sucede por el flex-fill)*/
  }
}