:root {
    --login-bg-color: #6b747c;
    --component-bg-color: #ffffff;
    --main-bg-color: #f8f9fa;
    --main-text-color: #2d333a;
    --light-blue: #52c0f7;
    --input-border-color: #c2c8d0;
    --focus-input-border-color: #007bad;
    --error-message-color: #dc3545;
    --placeholder-color: #6f7780;
    --main-font-size: 1.4rem;
    --label-font-size: 1.8rem;
    --navbar-height: 80px;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--main-font-size);
    color: var(--main-text-color);
}

body {
    background-color: var(--main-bg-color);
}