.form {
    background-color: var(--component-bg-color);
    font-size: var(--main-font-size);
}

.form__input-group {
    width: 100%;
}

.input-item {
    margin-bottom: 10px;
}

.input-item label {
    font-size: var(--label-font-size);
    line-height: 170%;
    font-weight: 500;
}

.input-item input {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    border-style: solid;
    border-color: var(--input-border-color);
    border-radius: 5px;
    outline: none;
}

.input-item input:focus {
    border-color: var(--focus-input-border-color);
}

.input-item input::placeholder {
    color: var(--placeholder-color);
}

.input-item__error {
    color: var(--error-message-color);
}