.form-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--login-bg-color);
}

.login-form {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding: 5% 10%;
}

.login-form__title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
}

.login-form__message {
  margin: 20px 0 10px 0;
  font-size: var(--main-font-size);
  text-align: center;
}

.login-form__btn {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  font-size: var(--label-font-size);
  background-color: var(--light-blue);
  border-radius: 10px;
  border-style: none;
}

.login-form__btn:hover {
  cursor: pointer;
}

@media (min-width: 481px) {
  .login-form {
    max-width: 400px;
    height: min-content;
    border-radius: 10px;
    padding: 30px 40px;
  }
}
